@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Primary */
    --dark-blue-intro-bg: hsl(217, 28%, 15%); /* intro and email sign up bg */
    --dark-blue-main-bg: hsl(218, 28%, 13%); /* main bg */
    --dark-blue-footer-bg: hsl(216, 53%, 9%); /* footer bg */
    --dark-blue-testimonial-bg: hsl(219, 30%, 18%); /* testimonial bg */

    /* Accent */
    --cyan: hsl(176, 68%, 64%); /* inside call to action gradient */
    --blue: hsl(198, 60%, 50%); /* inside call to action gradient */
    --light-red: hsl(0, 100%, 63%); /* error */

    /* Neutral */
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: var(--dark-blue-main-bg);
    color: var(--white);
    height: 100%;
    width: 100%;
}

h1, h2, h3, a {
    font-family: 'Raleway', sans-serif;
    color: var(--white);
}

/* Navbar general */
nav {
    position: absolute;
    top: 0;
    width: 100%;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#nav-list {
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}
#nav-list li {
    text-align: center;
}
#nav-list a:hover {
    text-decoration: underline;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: var(--white);
}
/* Showcase */
#showcase {
    background-color: var(--dark-blue-intro-bg);
    max-width: 100%;
}
/* Intro */
.intro {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Intro img */
#intro-img {
    max-width: 100%;
    height: auto;
}
/* Intro text */
.intro h1 {
    text-align: center;
    line-height: 40px;
    margin-top: 25px;
}
.intro p{
    line-height: 22px;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
/* Button */
.btn {
    padding: 13px 75px;
    font-weight: 700;
    background: linear-gradient(90deg, var(--cyan), var(--blue));
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
}
.btn:hover {
    filter: brightness(120%);
}
/* Grid card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h3 { 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card p {
    text-align: center;
    font-size: 0.85rem;
    display: inline;
}


/* Testimonials */
#testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-image: url("./img/bg-quotes.png");
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Testimonal card */
.test-card {
    background: var(--dark-blue-testimonial-bg);
    padding: 35px 25px 20px 25px;
    border-radius: 5px;
}
.test-card p{
    font-size: 0.85rem;
    line-height: 17px;
    opacity: 0.7;
    margin-bottom: 20px;
}
/* Profile */
.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 25px;
    height: auto;
    border-radius: 50%;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.name p {
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 0;
}
.name label {
    font-size: 0.7rem;
    opacity: 0.5;
}

/* Get early access */
#access {
    background: var(--dark-blue-testimonial-bg);
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
#access h1 {
    text-align: center;
}
#access p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
/* Form */
.action .btn {
    color: var(--white);
    padding: 13px 35px;
    outline: none;
    border: none;
}
.action .btn:focus {
    outline: none;
}
#button.btn:hover {
    cursor: pointer;
}
/* Email section */
.email {
    background: var(--white);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
}

/* Alert message */
#alert-msg {
    font-size: 0.9rem;
    color: var(--light-red);
    margin-top: 5px;
    transform: translateX(-120%);
    visibility: hidden;
}

/* Footer */
footer {
    background: var(--dark-blue-footer-bg);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.location, .phone-email div {
    display: flex;
    align-items: center;
}
.location img {
    margin-right: 10px;
}
.phone-email img {
    margin-right: 10px;
}

/* Footer list */
.footer-list {
    list-style: none;
    width: 80px;
}
.footer-list li {
    margin-bottom: 15px;  
}
.footer-list li a {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
.footer-list li a:hover {
    font-weight: bold;
}

/* Social list */
.social-icons {
    width: 30%;
}
.social-icons img {
    max-width: 10px;
    height: auto;
    fill: var(--white);
}
.social-list {
    list-style: none;
    color: var(--white);
    display: flex;
}
.social-list li {
    margin-left: 5px;
    margin-right: 5px;
    /* border: 1px solid white;
    border-radius: 50%; */
    
}
.social-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
}
.social-list li a:hover {
    color: var(--cyan);
    border: 1px solid var(--cyan);
}

/* Desktop */
@media screen and (min-width: 861px) {
    /* Container */
    .container {
        max-width: 1200px;
        margin: auto;
    }

    /* Navbar */
    #navbar {
        margin-top: 65px;
    }

    /* Nav Logo */
    #nav-logo {
        max-width: 12%;
        height: auto;
    }

    /* Nav List */
    #nav-list {
        width: 22%;
    }

    /* Showcase */
    #showcase {
        background-image: url("./img/bg-curvy-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        padding-top: 170px;
        padding-bottom: 210px;
    } 

    /* Info */
    .intro {
        max-width: 40%;
    }

    /* Grid */
    #grid-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 70%;
        margin: auto;
        gap: 90px;
    }
    /* Card */
    .card {
        padding-right: 10px;
        padding-left: 10px;
    }

    /* Stay productive */
    #stay-productive {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    /* Stay productive image */
    #stay-productive-img {
        max-width: 50%;
        max-width: auto;
    }
    /* Stay productive content */
    #stay-productive-content {
        max-width: 46%;
    }
    #stay-productive-content h1 {
        max-width: 60%;
        line-height: 40px;
    }
    #stay-productive-content p {
        margin-top: 15px;
    }
    /* Call to action */
    #how-fylo-works {
        display: inline-block;
        color: var(--cyan);
        border-bottom: 1px var(--cyan) solid;
        line-height: 25px;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    #how-fylo-works img{
        margin: auto;
        vertical-align: middle; 
        display: inline-block;
    }
    #how-fylo-works:hover {
        color: var(--white);
        border-bottom: 1px var(--white) solid;
    }
    #how-fylo-works:hover > img {
        filter: grayscale(100%) brightness(100%) saturate(0%) contrast(200%);
    }

    /* Get early access */
    #access {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        max-width: 60%;
        transform: translateY(40%);
    }
    #access p {
        display: inline-block;
        width: 90%;
    }

    /* Form */
    .action {
        display: flex;
        width: 100%;
    }
    .action #button {
        margin-left: 30px;
    }

    /* Footer */
    footer {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    /* Footer logo box */
    #footer-logo-container {
        margin-bottom: 30px;
    }

    /* Box container all elements under the logo */
    #inner-footer {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between;
        align-items: center; */
    }

    /* Fylo box */
    .fylo {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }
    /* Footer */
    #footer-logo {
        max-width: 15%;
        height: auto;
        display: flex;
    }
    /* Contact box */
    .contact {
        display: flex;
    }
    /* Location */
    .location {
        display: flex;
        align-items: flex-start;
        max-width: 50%;
        margin-right: 70px;
    }
    /* Margin bottom 15px for desktop only */
    .margin-bottom15 {
        margin-bottom: 15px;
    }

    .about-us {
        /* background-color: green; */
        width: 500px;
        display: flex;
        justify-content: flex-end;
    }

    .contact-us {
        /* background-color: red; */
        display: flex;
        width: 300px;
        justify-content: flex-end;
    }

    .social-icons {
        /* background-color: greenyellow; */
        display: flex;
        justify-content: flex-end;
    }

}

/* Mobile */
@media screen and (max-width: 860px) {
    /* Container */
    .container {
        max-width: 90%;
        margin: auto;
    }

    /* Navbar */
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }
    /* Nav Logo */
    #nav-logo {
        max-width: 23%;
        height: auto;
    }
    /* Nav List */
    #nav-list {
        width: 50%;
    }
    /* Nav links */
    a {
        font-size: 0.9rem;
    }

    /* Showcase */
    #showcase {
        height: 50vh;
        /* width: 100vw; */
        padding-top: 90px;
        background-image: url("./img/bg-curvy-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
    }

    /* Intro img */
    #intro-img {
        max-width: 90%;
        height: auto;
    }
    /* Intro text */
    .intro h1 {
        font-size: 1.7rem;
    }
    .intro p {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .btn {
        padding: 16px 85px;
    }

    /* Grid */
    #grid-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        margin: 410px auto 0 auto;
        max-width: 90%;
    }
    .card h3 {
        font-size: 1.3rem;
    }
    .card p {
        text-align: center;
        font-size: 1rem;
        display: inline;
    }

    /* Stay productive */
    #stay-productive {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    /* Stay productive image */
    #stay-productive-img {
        max-width: 90%;
        max-width: auto;
    }
    /* Stay productive content */
    #stay-productive-content {
        max-width: 95%;
    }
    #stay-productive-content h1 {
        max-width: 100%;
        text-align: center;
        font-size: 1.4rem;
        line-height: 40px;
        margin-top: 50px;
    }
    #stay-productive-content p {
        margin-top: 15px;
    }
    /* Call to action */
    #how-fylo-works {
        display: inline-block;
        color: var(--cyan);
        border-bottom: 1px var(--cyan) solid;
        line-height: 25px;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    #how-fylo-works img {
        margin: auto;
        vertical-align: middle; 
        display: inline-block;
    }

    /* Testimonials */
    #testimonials {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        background-image: url("./img/bg-quotes.png");
        background-size: 10%;
        background-position: 8px 0px;
        padding-top: 22px;
        padding-left: 0;
        padding-right: 0;
    }

    /* Get early access */
    #access {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        transform: translateY(50%);
        margin-top: 0;
    }

    /* Form */
    .action .btn {
        padding: 13px auto;
        width: 100%;
        margin-top: 20px;
    }
    /* Alert message */
    #alert-msg {
        font-size: 0.9rem;
        color: var(--light-red);
        margin-top: 10px;
        transform: translateX(0);
        /* visibility: hidden; */
    }

    /* Footer */
    footer {
        padding-top: 250px;
        padding-bottom: 40px;
    }

    #footer-logo-container {
        margin-bottom: 50px;
    }

    .location {
        display: flex;
        align-items: flex-start;
    }
    .location img {
        margin-right: 25px;
    }
    .location p {
        font-size: 1.1rem;
        line-height: 20px;
    }
    .phone-email img {
        margin-right: 20px;
    }
    .phone-email div {
        margin-top: 20px;
    }

    /* Footer list */
    .footer-list li a{
        font-size: 1.1rem;
    }

    /* About us box */
    .about-us {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    /* Social media icons */
    .social-icons {
        margin: auto;
        margin-top: 80px;
    }

}